/* html selectors */

body {
    background-color: #fffefe;
}

ul li a {
    text-decoration: none;
    color: whitesmoke;
}

header {
    max-width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header img {
    max-width: 6em;
    padding: 10px;
}

header h2 {
    padding-top: .5em;
}

ul {
    list-style: none;
    background-color: #1D488A;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}

ul,
h1,
h2 {
    font-family: 'Libre Baskerville', serif;
    color: #1D488A;
}

h3,
p {
    font-family: 'Mukta', sans-serif;
}

ul li {
    padding: 10px;
}

h1,
h3 {
    text-align: center;
}

main {
    max-width: 1050px;
    margin: 0 auto;
    align-items: center;
}

section {
    padding: 12px;
    -webkit-box-shadow:0px 0px 25px 5px #8a1d1d inset ;
    -moz-box-shadow:0px 0px 25px 5px #8a1d1d inset ;
    box-shadow:0px 0px 25px 5px #8a1d1d inset ;
    
    margin-top: 10px;
}

a:active {
    color: #d7eaea;
    text-align: center;
    display: inline-block;
}

a:hover {
    color: #ffffff;
    text-align: center;
    display: inline-block;
}

header a:link {
    color: whitesmoke;
}

header a:visited {
    color: whitesmoke;
}



footer {
    background-color: #1D488A;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    color: whitesmoke;
}






/* class selectors */

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.header {
    margin-right: 7em;
    padding: 5px;
}

/* id selector */

#website {
    font-size: 40px;
    text-shadow: 2px 2px 3px rgb(100, 100, 100);
}