
@media only screen and (min-width: 32.5em) {
    .topnav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-color: #efde7f;
    }
    .flex {
        display: flex;
    }

    #contact {
        flex-direction: row;
    }
    #article {
        flex-direction: row;
    }
    #contact {
        flex-direction: row;
    }
    #summary {
        width: 100%;
    }


    #map {
        width: 40%;
        display: flex;
    }
    #town {
        width: 40%;
    }
    .temple-info {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        column-gap: 20pt;
    }
    #reservation .mainarea{
        display: flex;
        justify-items: center;
        vertical-align: top;
    }

    .services{
        grid-template-columns: 1fr 1fr;
        column-gap: 20pt;
    }
   #reception .w3-container {
        display:grid;
        grid-template-columns: 1.5fr 2fr;
        column-gap: 20pt;

    }
}
