header img {
    height: 150px;
    float: right;
    margin-top: 10px;
    margin-right: 10px !important;
}
header {
background-color: rgb(115, 59, 167);
color: black;
height: 100px;
}
footer{
    background-color: rgb(115, 59, 167);
    color: black;
    height: 80px;
}
body{
    background-color: rgb(197, 197, 197);
    color: black;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
}
footer div {
    margin-top: auto;
    margin-bottom: auto;
}